body {
    background-color: aqua;
    font-family: sans-serif;
}

header {
    color: black;
    font-size: 25px;
    text-align: center;

}

#mainheader {
    justify-content: center;
    align-items: center;
    text-align: center;
    height:50px;
} 

#pfp {
    justify-content: center;
    display: flex;
}

#link {
    justify-content: center;
    display: flex;
}

th, td {
    border: 2px solid black;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills h3 {
    margin-bottom: 5px;
}

footer {
    padding-top: 250px;
    text-align: center;
    font-size: 12px;
}