body {
    background-color: aqua;
    font-family: sans-serif;
}

header {
    color: black;
    font-size: 25px;
    text-align: center;

}

#mainheader {
    justify-content: center;
    align-items: center;
    text-align: center;
    height:50px;
} 

#pfp {
    justify-content: center;
    display: flex;
}

#link {
    justify-content: center;
    display: flex;
}

th, td {
    border: 2px solid black;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills h3 {
    margin-bottom: 5px;
}

footer {
    padding-top: 25px;
    text-align: center;
    font-size: 12px;

    color: orange;
}

.foot{
    color: black;
    font-size: 15px;
}

/**
The spesific class for footer won over the element selector as it has a higher specificity score since 
the class can be assigned to spesific footers, while elements are for all of the same type of item. This 
resulted in the footer being black and 15px instead of orange and 12px if another footer not in the class
was created.
/